<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .text-white{
        color:white
    }
</style>
<body style="background-color:black">
    <nav class="navbar" style="background-color:#00a65a">
        <p class="navbar-brand" style="background-color:#00a65a"> Book Recommendation System</p>
        <ul>
            <li><a>Home</a></li>
            <li><a>Recommend</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-white" style="font-size: 40px">Top 50 Books</h1>
        </div>
        <div class="col-3" style="margin-top: 50px">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                    <img src="'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>